Combined styles.css

/* Reset and basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Additional styles for the table */
.table-container {
    width: 100%;
    max-width: 1300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
    margin-top: 5px;
}

.table-body {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    overflow-x: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #ecf0f1;
    color: #2c3e50;
    white-space: nowrap;
}

th {
    background-color: #3498db;
    color: white;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Button styles */
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tracking-button {
    background-color: #4caf50;
    margin-right: 10px;
}

.tracking-button:hover {
    background-color: #45a049;
}

.home-button {
    background-color: #3498db;
    margin-left: 10px;
}

.home-button:hover {
    background-color: #4caf50;
}

.edit-button {
    background-color: #e74c3c;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #c0392b;
}

.unreturned-button {
    background-color: #e67e22;
    margin-left: 10px;
}

.unreturned-button:hover {
    background-color: #d35400;
}

.returned-button {
    background-color: #3498db;
    margin-left: 10px;
}

.returned-button:hover {
    background-color: #2980b9;
}

.sort-button {
    background-color: #9b59b6;
    margin-left: 10px;
}

.sort-button:hover {
    background-color: #8e44ad;
}

/* Additional styles for the Asset Tracking Register */
section h2 {
    text-align: center; /* Center the h2 header */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}







